@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1217 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  font-weight:bold;
  letter-spacing: 1px;
}

body {
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://i.imgur.com/N1AxbHO.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.snip1217 ul {
  padding-top: 2%;
}
.snip1217 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1217 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}
.snip1217 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snip1217 a:before,
.snip1217 a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #7490dc;
  width: 0;
}
.snip1217 a:before {
  top: 0;
  left: 0;
}
.snip1217 a:after {
  bottom: 0;
  right: 0;
}
.snip1217 a:hover,
.snip1217 .current a {
  color: #ffffff;
}
.snip1217 a:hover:before,
.snip1217 .current a:before,
.snip1217 a:hover:after,
.snip1217 .current a:after {
  width: 100%;
}
.snip1217 {
  display: flex;
  flex-direction: column;
  background-image: url("https://i.imgur.com/N1AxbHO.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.about-me-content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: flex-start;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #7490dc;
  border-top: 2px solid #7490dc;
}

.profile-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-right: 65px;
  margin-top: 50px;
}

.summary {
  text-align: justify;
  color: #7490dc;
  margin-left: 1%;
  margin-right: 60px;
}

.summary p {
  font-size: 1rem;
  line-height: 1.5;
}

.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2rem;
}

.button-paper {
  align-self: center;
  background-color: black; 
  border: 2px solid #7490dc;
  color: #7490dc; 
  border-radius: 15px;
  padding: 1rem;
  font-size: 100%;
  line-height: 23px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  margin:2rem;
}

.button-paper:hover,
.button-paper.selected {
  background-color: #7490dc;
  border-color: black; 
  color: black; 
}

.skills {
  position: relative;
  width: 100%;
  max-height: 400px; 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  padding-bottom: 15px;
  box-sizing: border-box;
  overflow-y: auto; 
  scrollbar-width: thin;
  scrollbar-color: #7490dc transparent; 

}

.skills::-webkit-scrollbar {
  width: 8px; 
}

.skills::-webkit-scrollbar-track {
  background: transparent; 
}

.skills::-webkit-scrollbar-thumb {
  background-color: #7490dc; 
  border-radius: 10px; 
  border: none;
}

.skills::-webkit-scrollbar-button {
  display: none; 
}

.skills li {
  position: relative;
  color: black;
  padding: 10px;
  line-height: 24pt;
  font-weight: 500;
  transition: all 0.1s linear;
  color:white;
  text-align: justify;
  font-size: 100%;
  font-weight: normal;
}

.skills li::before {
  content: "◆";
  display: inline-block;
  color: #7490dc; 
  font-size: 14pt; 
  margin-right: 10px; 
}

.content-section {
  margin-top: 2rem;
}

.content-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color:white;
}

.content-section p {
  font-size: 1rem;
  line-height: 1.5;
  color:#7490dc
}

.leadership-experience {
  max-height: 400px; 
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #7490dc transparent;
}

.work-experience {
  max-height: 400px; 
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #7490dc transparent;
}

.leadership-experience::-webkit-scrollbar,
.work-experience::-webkit-scrollbar {
  width: 8px;
}

.leadership-experience::-webkit-scrollbar-track,
.work-experience::-webkit-scrollbar-track {
  background: transparent;
}

.leadership-experience::-webkit-scrollbar-thumb,
.work-experience::-webkit-scrollbar-thumb {
  background-color: #7490dc;
  border-radius: 10px;
  border: none;
}

.leadership-experience::-webkit-scrollbar-button,
.work-experience::-webkit-scrollbar-button {
  display: none;
}


.leadership-experience .experience {
  margin-bottom: 20px;
  padding: 1rem;
  border-top: 2px solid #7490dc;
  border-radius: 8px;
  margin-right: 9%;
  margin-left: 7%;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1rem;
  color: #7490dc;
}

.position {
  flex: 1;
  text-align: left;
  font-size: 130%;
}

.year {
  flex: 1;
  text-align: right;
  font-size: 130%;
}

.bullet-points {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
  color: #7490dc;
  text-align: left;
  font-size: 80%;
}

.bullet-points li::before {
  content: "●";
  display: inline-block;
  color: #7490dc; 
  font-size: 14pt; 
  margin-right: 10px; 
}