@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.achsnip1217 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  font-weight:bold;
  letter-spacing: 1px;
  font-size:medium;
}

.achsnip1217 ul {
  padding-top: 2%;
  font-size: 120%;
  margin-left: -4%;;
}
.achsnip1217 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.achsnip1217 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}
.achsnip1217 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.achsnip1217 a:before,
.achsnip1217 a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #7490dc;
  width: 0;
}
.achsnip1217 a:before {
  top: 0;
  left: 0;
}
.achsnip1217 a:after {
  bottom: 0;
  right: 0;
}
.achsnip1217 a:hover,
.achsnip1217 .current a {
  color: #ffffff;
}
.achsnip1217 a:hover:before,
.achsnip1217 .current a:before,
.achsnip1217 a:hover:after,
.achsnip1217 .current a:after {
  width: 100%;
}
.achsnip1217 {
  display: flex;
  flex-direction: column;
  background-image: url("https://i.imgur.com/N1AxbHO.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.acchead{
  font-weight: bold;
  color:#7490dc;
}

.main-container {
  padding: 30px;
}

.achcards {
  display: block;
}

.card {
  padding: 20px;
  width: 70%;
  min-height: px;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  transition: all 0.2s;
  background-color: black;
  opacity: 0.8;
  margin-bottom:5%;
  border: #7490dc solid 5px;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  box-shadow: 0px 16px 20px rgba(37, 116, 189, 0.25);
  border: #7490dc solid 0.2px;
  color:#7490dc;
}

.card__title {
  grid-row: 3/4;
  font-weight: 80%;
  font-size: x-large;
  color: #ffffff;
  text-transform:uppercase;
  margin-bottom: 2%;
}

.alternate-card {
  margin-left: 28%;
  margin-bottom: 5%;
}

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}



